wheel
more_itertools
gspread
oauth2client
selenium
tenacity
pytest
pytest-html
pytest-env
easelenium
flake8
numpy==1.26.4
pandas==1.4.4
plotly
odfpy
openpyxl
seaborn
jupyter
jupyter_nbextensions_configurator
jupyter_contrib_nbextensions
xlrd
tqdm
yfinance
loguru
tabulate
pycln
snakeviz
pandoc
nbconvert
chart_studio
python-dotenv
scikit-learn
google-api-python-client
pyyaml
requests
wikipedia
webdriver_manager
ruff
python-telegram-bot
setuptools
notebook
lxml