wheel
more_itertools
gspread
oauth2client
selenium
tenacity
pytest
pytest-html
pytest-env
black
easelenium
flake8
pandas
plotly
odfpy
openpyxl
seaborn
jupyter
jupyter_nbextensions_configurator
jupyter_contrib_nbextensions
xlrd
tqdm
jupyter-kite
yfinance
loguru
tabulate
pycln
snakeviz
pandoc
nbconvert
chart_studio