chart_studio
flake8
google-api-python-client
gspread
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
loguru
lxml
more_itertools
nbconvert
notebook
numpy
oauth2client
odfpy
ollama
openpyxl
pandas
pandoc
plotly
pycln
pytest
pytest-env
pytest-html
pytest-repeat
python-dotenv
python-telegram-bot
pyyaml
requests
ruff
scikit-learn
seaborn
selenium
setuptools
snakeviz
tabulate
tenacity
tqdm
webdriver_manager
wheel
wikipedia
xlrd
yfinance